.DS_Store
.gitattributes
.github
.history
.prettierignore
.prettierrc.json
.project
.settings
.testcaferc.json
.vscode
*.swp
*.log
tsconfig.*
tslint.json
jest.unit.config.js
nightwatch.conf.js
app/
build/
coverage/
dist/
docs/
integ-test-results/
node_modules/
scripts/
src/
tests_output/
webpack/
