.main-content {
    box-sizing: border-box;
    text-align: center;
    margin: 125px auto 60px;
    padding: 0 40px;
}

.main-content h3 {
    font-size: 28px;
    color: #488db4;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .main-content {
        margin: 45px auto;
        padding: 0 25px;
    }
}

.strawberry {
    z-index: 100;
}

.overlay {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5f6466;
    transition: 0.2s;
    z-index: 100;
}

.strawberry.visible .overlay {
    height: 100%;
}

.strawberry-large {
    box-sizing: border-box;
    width: 760px;
    height: 550px;
    position: fixed;
    left: 50%;
    margin-left: -375px;
    top: 50%;
    margin-top: -275px;
    pointer-events: none;

    border-radius: 6px;
    background-color: #ffffff;

    z-index: 102;
    opacity: 0;
    transition: 0.4s;
}

.strawberry.visible .strawberry-large {
    opacity: 1;
    transition: 1.4s;
    pointer-events: auto;
}

.strawberry-large h3 {
    margin-top: 20px;
}

.strawberry-large img {
    width: 80%;
    height: 240px;
    border-bottom: 3px solid #efefef;
    border-radius: 5px 5px 0 0;
}

.strawberry-large p {
    line-height: 23px;
    padding: 50px 45px;
}

.close {
    position: absolute;
    right: 25px;
    top: 15px;

    font-size: 28px;
    color: rgb(43, 42, 42);
    cursor: pointer;
}
