name: AWS RUM Web Client Release

on:
    workflow_dispatch:

jobs:
    publish_to_cdn:
        name: Publish New Release
        runs-on: ubuntu-latest
        environment: cdn-prod-release
        permissions: write-all
        steps:
            - name: Checkout AWS RUM Web Client Repository
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '16.x'
                  registry-url: 'https://registry.npmjs.org'

            - name: Fetch AWS Credentials for Deployment
              run: |
                  export AWS_ROLE_ARN=${{ secrets.ROLE }}
                  export AWS_WEB_IDENTITY_TOKEN_FILE=/tmp/awscreds
                  export AWS_DEFAULT_REGION=us-east-1

                  echo AWS_WEB_IDENTITY_TOKEN_FILE=$AWS_WEB_IDENTITY_TOKEN_FILE >> $GITHUB_ENV
                  echo AWS_ROLE_ARN=$AWS_ROLE_ARN >> $GITHUB_ENV
                  echo AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION >> $GITHUB_ENV

                  curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value' > $AWS_WEB_IDENTITY_TOKEN_FILE

            - name: Cache NPM modules
              uses: actions/cache@v2
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Build Release
              run: |
                  npm ci
                  npm run release

            - name: Publish to CloudWatch RUM CDN
              id: publish-cdn
              run: |
                  chmod u+x .github/scripts/deploy.sh
                  .github/scripts/deploy.sh ${{ secrets.BUCKET }}

            - name: Fetch AWS Credentials for Smoke Test
              run: |
                  export AWS_ROLE_ARN=${{ secrets.SMOKE_TEST_ROLE }}
                  export AWS_WEB_IDENTITY_TOKEN_FILE=/tmp/awscreds
                  export AWS_DEFAULT_REGION=us-east-1

                  echo AWS_WEB_IDENTITY_TOKEN_FILE=$AWS_WEB_IDENTITY_TOKEN_FILE >> $GITHUB_ENV
                  echo AWS_ROLE_ARN=$AWS_ROLE_ARN >> $GITHUB_ENV
                  echo AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION >> $GITHUB_ENV

                  curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value' > $AWS_WEB_IDENTITY_TOKEN_FILE

            - name: Update Smoke Test Application
              id: update-smoke-test
              run: |
                  chmod u+x .github/scripts/update_smoke_test.sh
                  .github/scripts/update_smoke_test.sh ${{ secrets.SMOKE_MONITOR }} ${{ secrets.SMOKE_REGION }} ${{ secrets.SMOKE_ARN }} ${{ secrets.SMOKE_IDENTITY }} ${{ secrets.CONFIG_ENDPOINT }} ${{ secrets.CDN }} >> processed_smoke.html

            - name: Upload Smoke Test to CloudFront
              id: upload-smoke-test
              run: |
                  chmod u+x .github/scripts/upload_smoke_test.sh
                  .github/scripts/upload_smoke_test.sh ${{ secrets.SMOKE_BUCKET }}

            - name: Install PlayWright
              run: npx playwright install --with-deps chromium

            - name: Run Smoke Test
              env:
                  URL: ${{ secrets.SMOKE_URL }}
                  MONITOR: ${{ secrets.SMOKE_MONITOR }}
                  ENDPOINT: ${{ secrets.SMOKE_ENDPOINT }}
                  NAME: ${{ secrets.SMOKE_MONITOR_NAME }}
              run: npm run smoke:headless

            - name: Publish to NPM
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Create GitHub Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: 'v${{ steps.publish-cdn.outputs.current-version }}'
                  release_name: 'Release ${{ steps.publish-cdn.outputs.current-version }}'
                  body: 'See [CHANGELOG](https://github.com/aws-observability/aws-rum-web/blob/main/CHANGELOG.md) for details.'
                  draft: true
                  prerelease: false
